/* import gallery styles */

@import 'lightgallery/scss/lightgallery.scss';
@import 'lightgallery/scss/lg-zoom.scss';
@import 'lightgallery/scss/lg-thumbnail.scss';
@import 'lightgallery/scss/lg-video.scss';


h1, p {
  font-family: Lato;
  color: Gray;
}
body {
  margin: 0;
}
.gallery-item {
  margin: 5px;
}
